.welcome-img{
    border-width: 5px;
    border-style: double;
    height: 20vw;
    min-height: 74px;
    max-height: 280px;
    border-radius: 50%;
    box-shadow: 0 0 6px 1px #0e226c;
}

.welcome{

    padding: 15px;
    background-color: #1A73E8;
    width: 60%;
    min-width: 180px;
    max-width: 800px;
    margin: auto;
    color: white;
    font-weight: bold;
    border-radius: 50px;
    border-width: 10px;
    border-style: solid;
    border-color: #eeeeee;
    box-shadow: 0 0 6px 1px #222831;
    
}
.welcome h1{
    font-size: 250%;
}
.links{
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 15px;
}

.link{
    text-align: center;
    margin: 0 -5px -8px -5px;
    box-shadow: 0 0 6px 2px #0e226c;
    background-color: #eeeeee;
    padding: 2px;
    width: 100%;
}
.link span{
    font-size: 1.5em;
    color: #1A73E8;
    text-decoration: underline;
    padding: 10px;
    border-color: #1A73E8;
    border-radius: 50px;
}

.link.register{
    border-radius: 0 0 0 40px;
}
.link.login{
    border-radius: 0 0 40px 0;
}
.link:hover{
    background-color: rgb(246, 246, 246);
    box-shadow: 0 0 6px 3px #0e226c;
    cursor: pointer;
    
    transform: scale(1) translate(1px, 1px);
}
.link:active{
    box-shadow: inset 0 0 4px 2px #0e226c;
}